/build.xml
/build/
LogicLabProject/build/
LogicLabFileSupport/build/
/**/nbproject/private/
/**/nbproject/genfiles.properties
LogicLabProject/src/org/ufal/logiclabproject/templates/EmptyLogicLabProjectProject.zip
/LogicLabAPI/build/
